.dashboardContainer {
  padding: 32px 28px 40px 28px;

  h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    padding: 4px 8px;
    margin-bottom: 16px;
    &.dark {
      color: var(--black-100, #fff);
    }
    &.light {
      color: var(--black-100, #1c1c1c);
    }
  }

  .topAnalyticsSection {
    display: flex;
    align-items: flex-start;
    gap: 28px;

    .leftSection {
      flex: 0.5;
      display: flex;
      align-items: flex-start;
      gap: 28px 28px;
      flex-wrap: wrap;
    }

    .rightSection {
      flex: 0.5;
    }
  }
}
