.dashboardContainer {
  width: inherit;
  padding: 32px 28px 40px 28px;

  h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    padding: 4px 8px;
    margin-bottom: 16px;
    &.dark {
      color: #fff;
    }
    &.light {
      color: #1c1c1c;
    }
  }

  .topAnalyticsSection {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 28px;
    width: calc(100% - 56px);

    .leftSection {
      width: 50%;
      .topLeftSection {
        gap: 28px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 28px;
        > div {
          width: 100%;
        }
      }

      .bottomLeftSection {
        gap: 28px;
        display: flex;
        align-items: flex-start;
        > div {
          width: 100%;
        }
      }
    }

    .rightSection {
      width: 50%;
      height: 307px;
    }
  }

  .salesSection {
    display: flex;
    align-items: flex-start;
    gap: 28px;
    margin-top: 28px;
    width: calc(100% - 56px);

    .leftSalesSection {
      flex: 0.8;

      .salesTableContainer {
        padding: 24px;
        border-radius: 16px;
        margin-bottom: 28px;

        &.light {
          background: #f7f9fb;
        }
        &.dark {
          background: rgba(255, 255, 255, 0.05);
        }

        h2 {
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 8px;
          &.dark {
            color: #fff;
          }
          &.light {
            color: #1c1c1c;
          }
        }

        .tableWrapper {
          width: 100%;
          overflow: auto;
          &.light {
            > table {
              thead {
                tr {
                  &:first-child {
                    &::before {
                      content: "";
                      border-bottom: 1px solid rgba(28, 28, 28, 0.4);
                    }
                  }

                  th {
                    color: rgba(28, 28, 28, 0.4);
                  }
                }
              }

              td {
                color: #1c1c1c;
              }
            }
          }

          &.dark {
            > table {
              thead {
                tr {
                  &:first-child {
                    &::before {
                      content: "";
                      border-bottom: 1px solid #5a5b60;
                    }
                  }

                  th {
                    color: rgba(255, 255, 255, 0.4);
                  }
                }
              }

              td {
                color: #fff;
              }
            }
          }

          > table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 5px;
            border-radius: 20px;

            thead {
              tr {
                white-space: nowrap;

                &:first-child {
                  &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 90%;
                    pointer-events: none;
                  }
                }

                th {
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 18px; /* 150% */
                  padding: 8px 12px;
                  background-color: inherit;

                  &:first-child {
                    text-align: left;
                  }
                }
              }
            }
            tr {
              text-align: left;
              position: relative;

              &::before {
                content: "";
              }
            }

            td {
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 150% */
              white-space: nowrap;
              background-color: inherit;
              padding: 8px 12px;
              height: 24px;

              text-align: left;
            }
          }
        }
      }

      .revenueLineChartContainer {
        padding: 24px;
        border-radius: 16px;
        margin-bottom: 28px;
        height: 322px;

        &.light {
          background: #f7f9fb;
        }
        &.dark {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .rightSalesSection {
      flex: 0.2;
      .worldMap {
        margin-bottom: 28px;
      }
    }
  }

  @media (max-width: 1399.98px) {
    .topAnalyticsSection {
      flex-direction: column;
      .leftSection {
        width: 100%;
      }

      .rightSection {
        width: 100%;
      }
    }

    .salesSection {
      flex-direction: column;
      gap: 0px;
      .leftSalesSection {
        flex: 1;
        width: 100%;
      }

      .rightSalesSection {
        flex: 1;
        width: 100%;
      }
    }
  }

  @media (max-width: 575.98px) {
    .topAnalyticsSection {
      .leftSection {
        width: 100%;
        .topLeftSection {
          flex-direction: column;
        }

        .bottomLeftSection {
          flex-direction: column;
        }
      }
    }
  }
}
