.layoutContainer {
  display: flex;
  height: 100dvh;
  overflow: hidden;

  .sidebar {
    flex-shrink: 0;
    overflow: hidden;
  }

  .middleSection {
    flex-grow: 1; // Take remaining space
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .notificationSidebar {
    flex-shrink: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
  }
}
