.layoutContainer {
  display: flex;
  height: 100dvh;
  overflow: hidden;

  .sidebar {
    width: 240px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .middleSection {
    height: 100dvh;
    overflow-y: auto;
  }

  .notificationSidebar {
    width: 280px;
    flex-shrink: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
  }
}
